<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Registration</h1>
        <form  action="/api/auth/register"  method="POST">
            <input type="text" name="name" id="" placeholder="enter name">
            <input type="text" name="email" id="" placeholder="enter email">
            <input type="password" name="password" id="" placeholder="password">
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>